:root {
  --spacing: 5px;
}

.ul {
  align-items: center;
}

#evcal {
  margin-left: 20px;
}

#evcal>li {
  list-style-type: '';
  color: #fcfcfc;
  font-size: 52px;
  /* margin: 0; */
  /* padding: 0; */
}


.contrast {
  font-size: 36px;
  line-height: 30px;
  height: 30px;
  padding: 10%;
  width: 100%;
  height: 100%;
  border: 0;
  font-weight: 450;
  color: #fcfcfc;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(12px);
}


.help {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: dotted;

  /* Firefox */
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -moz-column-rule-style: dotted;

  /* Safari and Chrome */
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -webkit-column-rule-style: dotted;
}

#classtable,
#nav-pro {
  background: transparent;
  backdrop-filter: blur(12px);
}

article {
  /*font-family: "Noto Serif CJK SC", serif;*/
  max-width: 640px;
  margin-left: auto;
  /* background: transparent; */
  /* backdrop-filter: blur(6px); */
}

/* article>header{
  backdrop-filter: blur(72px);
} */

#clock-div {
  margin: 0 auto
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


main {
  background: transparent;
}

strong {
  /* font-size: 52px; */
  color: #fcfcfc;
}

mark {
  /* font-size: 52px; */
  color: black;
  border-radius: 10px;
}

article {
  color: #fcfcfc;
  font-size: 36px;
  background: #31363d30;
  border-radius: 25px;
  backdrop-filter: blur(12px);
}

/* For Chrome or Safari */

progress::-webkit-progress-bar {
  background-color: #7f8c8d;
}

progress::-webkit-progress-value {
  background-color: #3daee9 !important;
}

/* For Firefox */

progress {
  background-color: #7f8c8d;
}

progress::-moz-progress-bar {
  background-color: #3daee9 !important;
}

/* For IE10 */

progress {
  background-color: #3daee9;
}

#calart {
  padding-bottom: 1px;
}

#clockart,
#helpart {
  padding: 15px 30px;
}


hr {
  border: 1px solid #eff0f1;
}

body {
  font-family: -apple-system, "HarmonyOS Sans SC", "Noto Sans CJK SC", MiSans, "MiSans L3", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#remember {
  max-width: 1440px;
  margin-left: 100px;
}

/*

#remember-txt.mark{
  
}*/